<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="loggers.xml"/>

	<bean id="client" class="com.epam.spring.models.Client">
		<constructor-arg value="1"/>
		<constructor-arg value="Mikita Yafimuk"/>
	</bean>

	<bean id="app" class="com.epam.spring.App">
		<constructor-arg ref="cachedFileEventLogger"/>
		<constructor-arg ref="client"/>
	</bean>

	<bean id="event" class="com.epam.spring.models.Event" scope="prototype">
		<constructor-arg>
			<bean class="java.util.Date"/>
		</constructor-arg>
		<constructor-arg>
			<bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
		</constructor-arg>
	</bean>

</beans>