<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="eventLogger" class="com.epam.spring.ConsoleEventLogger"/>

	<bean id="client" class="com.epam.spring.Client">
		<constructor-arg value="1"/>
		<constructor-arg value="Mikita Yafimuk"/>
	</bean>

	<bean id="app" class="com.epam.spring.App">
		<constructor-arg ref="eventLogger"/>
		<constructor-arg ref="client"/>
	</bean>

</beans>